body{
    background-color: #BFD8BD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
header{
    text-align: center;
    font-size: larger;
}

h2.roughneck{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    color: #ff2e00;
    text-align: center;
}

img.dome{

    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

figcaption.dome{
    color: black;
    text-align:center;
}

p.roughneck{
    border-radius: 20px;
    background-color: #ff2e00;
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}




h2.hawaii{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    color: #F5853F;
    text-align: center;
}

img.hawaii{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 450px;
    
}

p.hawaii{
    border-radius: 20px;
    background-color: #F5853F;
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}

figcaption.hawaii{
    color: black;
    text-align:center;
}


h2.grassi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    color: #32936F;
    text-align: center;
}
img.grassi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 450px;
}
p.grassi{
    border-radius: 20px;
    background-color: #32936F;
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}
figcaption.grassi{
    color: black;
    text-align: center;
}

footer{
    background-color: #333333;
    padding: 10px;
    margin-top: 10px;
}
small{
    color: white;
    text-align: center;
    display: block;
    font-size: small;
    margin: 0;
}
h2.foot{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;   
    color: white;
}