body{
    background-color: #faf3dd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    text-align: center;
}
article.roughneck{
    background-color: #ff2e00;
}
h2.roughneck{
    color: white;
    text-align: center;
}